:root {
  --color-dark-gray: #10100e;
  --color-white: #fff;
  --color-black: #000;
  --color-blue: #6e83fb;
  --color-violet: #ae72c2;
  --color-yellow: #ffff00;
  --color-light: #29e52d;
  --color-dark: #d82228;
  --color-neitral: #ff0;

  --border-rudius-small: 3px;
  --border-rudius: 10px;

  --spicing-medium: 20px;
  --spicing-large: 30px;
  --spacing-small: 10px;

  --font-size-main: 16px;
  --font-size-subheader: 18px;
  --font-size-header: 26px;

  --width-max: 1200px;

  --font-bold: 600;
  --text-shadow-yellow: 0 0 5px var(--color-white), 0 0 40px var(--color-yellow);
  --text-shadow-blue: 0 0 2px var(--color-white), 0 0 40px var(--color-blue);
  --box-shadow-black: 0 16px 24px 2px rgba(0, 0, 0, 0.5),
    0 6px 30px 5px rgba(0, 0, 0, 0.1), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  --box-shadow-white: 0 16px 24px 2px hsla(0, 0%, 100%, 0.02),
    0 6px 30px 5px hsla(0, 0%, 100%, 0.04),
    0 8px 10px -5px hsla(0, 0%, 100%, 0.1);

  --transition: 0.4s;
  --font-family-main: Roboto, sans-serif;

  --theme-default-header: #cccc46;
  --theme-default-bgimage: url(@assets/image/bg.jpg);
}
